@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Bem-vindos</h1>
  <p>CALCULE DIVISORES E NUMEROS PRIMOS</a>.</p>
</div>

<label for="numero">Entre com o numero abaixo:</label>
<input type="text" id="numero" name="numero">
<button type="button" onclick="calcularNumeros()">Calcular</button>

<div id="resultado">

</div>