
DesafioTecnico.ConsoleApp/bin/

DesafioTecnico.ConsoleApp/obj/

DesafioTecnico.ConsoleApp/.vs/

DesafioTecnico.UnitTest/bin/

DesafioTecnico.UnitTest/obj/

DesafioTecnico.WebApi/bin/

DesafioTecnico.WebApi/obj/

DesafioTecnico.Commons/bin/

DesafioTecnico.Commons/obj/

DesafioTecnico.WebMVC/bin/

DesafioTecnico.WebMVC/obj/
